
body{
    padding: 0;
    margin: 0;
    font-family:'Consolas';
    font-size: 18px;
    color: #25aa0d;
    background: #000;
}
a{
    color: #25aa0d;
}
a:hover{
    text-decoration: none;
    background: none;
    color: none;
}
a:focus{
    color: #25aa0d;
}
.sokial{
    width: 22px;
    height: 22px;
}
a .fa{
    width: 100%;
    height: auto;
    padding: 10px;
    font-weight: 100;  
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0
}
.fa{
    cursor: pointer;
}
.fa:hover{
    color: #25aa0d;;
}
/*Стили для header*/
.top{
    width: 90%;
    position: fixed;
    background: #000;
    z-index: 1;
    padding-bottom: 2%;
}
@media(max-width:960px){
    .top{
        width: 100%;
        display: flex;
        padding: 2%;
        justify-content: space-between;
    }
}
header{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:960px){
    header{
        top: 15px;
        z-index: 2;
    }
}
.caption{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 50%;
    order: 2;
    position: relative;
    border:1px solid #000;
    line-height:.6;
    padding-right: 2%;
    letter-spacing: 5px
}
.caption p{
    text-align: right;
    width: 100%;
}
.caption span{
    color:#40e622;
    font-size: 1.5em
}
@media (max-width:960px){
    .caption{
        width: 100%;
        order: 1;
        display: none;
    }
}
.caption img{
    width: 100%;
}
.side{
    width: 50%;
    order: 1;
}
@media (max-width:960px){
    .side{
        width: 100%;
        order: 2;
        display: none;
        position: absolute;
        top:70px;
    }
}
.menu{
    display: flex; 
    color: #25aa0d;
    justify-content: flex-start;
    position: relative;
    margin-right: 0;
    padding: 0;
}
.menu li{
    width: 150px;
}
.menu__list:first-child{
    width: auto;
}
.menu  a{
    background: #25aa0d;
    padding: 0 5px;
    transition: 1s;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
    transition: 0.5s ease;
}
.menu a:hover{
    transition: 0.5s;
}
.menu__drop a:hover{
    padding: 0 5px 10px 0px;
}
#burg a{
    display: block;
    width: 70px;
}
#burg a span{
    display: flex;
    background: #25aa0d;
    margin: 10px 0;
    width: 30px;
    height: 1.1px;
}
#burg{
    width: 50px;
    display: none;
}
@media(max-width:960px){
    #burg{
        display: block;
    }
}
.bar{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
/*wrapper*/
.wrapper{
    padding: 2% 0;
    height: 100vh;
    max-height: 760px;
    min-height: 600px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
@media (max-width:960px){
    .wrapper{
        width: 100%;
        padding: 1%;
        height: 100vh;
        bottom: 0;
    }
}
/*Стили для подменю*/
.menu__list {
    position: relative;
    width: 100%;
}
.menu__list>a{
    background: none;
    color: #25aa0d;
    text-align: center;
}
.menu__drop{
    position: absolute;
    width: 100%;
    left: -9999em;
    top: 100%;
    height: 70px;
    z-index: 2;
}
.menu__list:hover .menu__drop{
    left:-10px;
    z-index: 999;
} 
.menu__drop_city{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 150px;
    bottom: 9999em;
    border-left: 10px solid transparent;
    opacity: 0;
    font-size: 8px;
}
.menu__drop_city a{
    padding: 0 10px;
}
.menu__drop_uk:hover .menu__drop_city{
    opacity: 1;
    font-size: 12px;
    bottom: 0;
}
.menu__drop_city_ru{
   position: absolute;
    z-index: 999;
    left: 100%;
    bottom:9999em;
    border-left: 10px solid transparent;
    opacity: 0;
    font-size: 8px; 
}
.menu__drop_city_ru a{
    padding: 0 10px;
}
.menu__drop_ru:hover .menu__drop_city_ru{
    opacity: 1;
    font-size: 12px;
    bottom: 0;
}
.menu__drop_uk:hover .input-archive{
    display: block;
    transition: 1s all;
}
.add-com{
    padding: 1% 2% 1% 0;
    background: #000;
}
@media(max-width:960px){
    .add-com{
        width: 100%;
    } 
}

/*Style fo form*/
#form{
    width: 100%;
    position: relative;
}
.text_comment{
    padding: 0 2%;
    height: 45px;
    background: #000;
    outline:none;
    border: none; 
    width: 100%; 
    background: #000;
    color:#25aa09;
    overflow: auto;
    -o-box-shadow: 0 0px 5px 2px #25aa0d;
    -ms-box-shadow: 0 0px 5px 2px #25aa0d;
    -moz-box-shadow: 0 0px 5px 2px #25aa0d;
    -webkit-box-shadow: 0 0px 5px 2px #25aa0d;
    -icab-box-shadow: 0 0px 5px 2px #25aa0d;
    -khtml-box-shadow: 0 0px 5px 2px #25aa0d;
    color: #25aa0d;
    resize: none;
}
.text_comment::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.text_comment::-webkit-scrollbar{
	width: 12px;
	background: #25aa0d;
}

.text_comment::-webkit-scrollbar-thumb{
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000;
}
@media(max-width:960px){
    .text_comment{
        border: 2px solid #25aa0d;
        padding-right: 2rem;
    }
}
#active{
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #000;
    border:1px solid #000;
    text-decoration: none;
    text-shadow: -2px 2px rgba(255,255,255,.3);
    line-height: 1.1;
    padding: .5em 3em .5em .6em;
    background: -webkit-linear-gradient(#25aa0d, #000);
    background: -o-linear-gradient(#25aa0d, #000);
    background: linear-gradient(#25aa0d, #25aa0d);
    box-shadow:
   0 0 0 1px #25aa0d inset,
   -1px 0px rgb(37, 170, 13), -1px 1px rgb(25,109,4),
   -2px 1px rgb(36,169,12), -2px 2px rgb(24,108,3),
   -3px 2px rgb(35,168,11), -3px 3px rgb(23,107,2),
   -4px 3px rgb(34,167,10), -4px 4px rgb(22,106,1),
   -5px 4px rgb(33,166,9), -5px 5px rgb(21,105,0),
   -6px 5px rgb(32,165,8), -6px 6px rgb(20,104,0),
   -7px 6px rgb(31,164,7), -7px 7px rgb(19,103,0),
   -8px 7px rgb(30,165,6), -8px 8px rgb(18,102,0),
   -7px 9px 1px rgba(0,0,0,.4),
   -5px 11px 1px rgba(0,0,0,.2),
   -1px 13px 4px rgba(0,0,0,.2),
   4px 16px 7px rgba(0,0,0,.3); 
  transition: .4s;
}
.hidden-input{
    height: auto;
    position: absolute;
    display: none;
    font-weight: bold;
    color: #25aa0d;
    font-size: 25px;
    border: none;
    text-decoration: none;
    right:1.5em;
    background: transparent;
    outline: none;
}
@media(max-width:960px){
    .hidden-input{
        right: 1em;
    }
}
#active:focus{
    outline: none;
}
#add_comment{
    display: flex;
}
@media (max-width: 960px){
    .hidden-input{
        display: block;
    }
    #add_comment{
        flex-wrap: wrap;
    }
    #active{
        display: none;
    }
}
.content{
    width: 100%;
}
.content-post{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    margin-bottom: 7px;
}
.info-post{
    font-size: 1em;
    width: 85%;
    word-wrap: break-word;
    }
.like-post{
    width: 5%;
    padding-left: 10px;
    width:2.5rem;
    height:2.5rem;
} 
.like-post img{
    width: 100%;
    height: auto;
}
.date-bar{
    width: 50px;
    font-size: 1em;
    word-wrap:normal;
    padding-right: 2%;
    float: left;
}
.new-comment{
    font-size: 1em;
    word-wrap: break-word;
    width: 100%;
}
/*@media(max-width:960px){
    .date-bar{
        min-width: 100px;
    }
}
@media(max-width:480px){
    .date-bar{
       width: 25%;
    }
}*/
.green{
    color: #25aa0d;
}
.yellow{
    color: #eef70e;
}
.red{
    color: #f80808;
}
.blu{
    color: #0404f2;
}
.post{
    margin-left: 2%;
}
.main{
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 180px;
}
@media(max-width:960px){
    .main{
        margin-top: 120px;
    }
}
/*Footer*/
.footer{
    width: 50px;
    /*position: fixed;
    bottom: 0;*/
    position: relative;
    background: #000;
}
.footer-social__wrapper{
    margin: auto;
    padding-bottom: 20px;
    padding-right: 10px;
    justify-content: center;
    border-right: 2px  #25aa0d;
}
.footer-social__wrapper>.social a {
    margin-bottom: 20px;
}
.footer-social__wrapper>.social a:first-child{
   /* margin-left: -15px;*/
}
.header-bottom>.social a{
    padding-left: 10px;
}
.social a{
    width: 20px;
    height: 20px;
    margin-bottom: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.2em;
}
.social{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
@media(max-width:960px){
    .social{
        padding-right: 2%;
    }
}
.social a img{
    width: 40px;
    height: auto;
}
/*Стили для подменю выбора даты*/
.input-archive::-webkit-calendar-picker-indicator {
    color: green;
    opacity: 1;
    background:#000;
    border:none;
}
.input-archive{
    display: none;
}
input[type=date] {
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-weight: bold;
  background-color:#000;
  outline: none;
  border: 0;
  padding: 0 3px;
  color: green;
} 
input[type=date]::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    margin-right: 4px;
  }
input[type=date]::-webkit-inner-spin-button {
    height: 30px;
    background: red;
  }
input[type=date]::-webkit-calendar-picker-indicator {
    font-size: 18px;
}
input[type=date]::-webkit-inner-spin-button { display: none; } 
    
.comment_js{
    background: #25aa0d;
    color: #000;
}
.btn_js{
    color: #000;
}



/*css({'background':'#25aa0d', 'color': '#000'})*/

/*css({'background':'#000', 'color': '#25aa0d'})*/


