@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|EB+Garamond|Montserrat:400,500,500i,600,600i,700,900,900i|Open+Sans:300,300i,400i,600,600i,700,700i,800,800i');
body{
    padding: 0;
    margin: 0;
    font-family:'Consolas';
    font-size: 16px;
    color: #25aa0d;
    background: #000;
}
a{
    color: #25aa0d;
}
a:hover{
    text-decoration: none;
    color: #198d3c;
    background: none;
}
a:focus{
    color: #25aa0d;
}

.few{
    color: green;
}
.middle{
    color: #eef70e;
}
.lot{
    color: #f80808;
}
.buttom{
    display: flex;
    justify-content: center;
}
header{
    border-bottom: 2px dotted #25aa0d;
}
.wrapper{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.caption{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}
.content{
    padding: 5% 0;
    width: 100%;
    height: 90vh;
}
.commit{
    display: flex;
    justify-content: space-between;
}
.post{
    margin-left: 2%;
}
.add-com{
    padding: 1% 0;
}

.fa{
    cursor: pointer;
}
.telegram-img{
    width: 42px;
    height: auto;
}
.viber-img{
    width: 41px;
    height: auto; 
}
.youtube-img{
    width: 41px;
    padding: 0px;
    margin: 0;
    height: auto;
}
.snapchat{
   width: 41px;
    height: auto;
}
a .fa{
    font-size: 22px;
    padding: 10px;
    font-weight: 100;  
}
.nav-pills{
    display: flex;
    justify-content: space-around;
}
.dropdown-menu{
    background: #000;
}
.list{
    background: #000;
}
/*Style fo form*/

#textrea{
    background: #25aa0d;
    outline:none;
    border: none; 
    width: 100%;  
}
#done{
    background: none;
    color: #25aa0d;
    border: #25aa0d;
    box-shadow: 2px 2px 2px 0px;
    cursor: pointer;
}

/*footer head*/
.menu{
    display: flex; 
    color: #25aa0d;
    justify-content: flex-end;
    position: relative;
    margin-right: 0;
    padding: 0;
}
.menu li{
    width: 150px;
}
.menu  a{
    background: #25aa0d;
    padding: 10px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
    transition: 0.5s ease;
}
.menu a:hover{
    padding: 10px 0 10px 20px;
}
 ul, li{
    list-style: none;
    margin: 0;
    padding: 0
}
.list-item{
    display: flex;
    justify-content: flex-end;
}
/*Стили для подменю*/
.menu__list {
    position: relative;
    width: 100%;
}
.menu__list>a{
    background: none;
    color: #25aa0d;
    text-align: center;
}
.menu__drop{
    position: absolute;
    width: 100%;
    left: -9999em;
    top: 100%;
    
    z-index: 0;
}
.menu__list:hover .menu__drop{
    left:0;
    z-index: 999;
}
.menu__drop_city{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 100%;
    bottom: 9999em;
    border-left: 10px solid transparent;
    opacity: 0;
    font-size: 8px;
}
.menu__drop_city a{
    padding: 0 10px;
}
.menu__drop_uk:hover .menu__drop_city{
    opacity: 1;
    font-size: 12px;
    bottom: 0;
}
.menu__drop_city_ru{
   position: absolute;
    z-index: 999;
    left: 100%;
    bottom:9999em;
    border-left: 10px solid transparent;
    opacity: 0;
    font-size: 8px; 
}
.menu__drop_city_ru a{
    padding: 0 10px;
}
.menu__drop_ru:hover .menu__drop_city_ru{
    opacity: 1;
    font-size: 12px;
    bottom: 0;
}











.footer-social__wrapper{
    margin: auto;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 2px dotted #25aa0d;
}
.footer-social__wrapper>.social a {
    margin-left: 20px;
}
.header-bottom>.social a{
    padding-left: 10px;
}
.social a{
    width: 20px;
    height: 20px;
    margin-bottom: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.2em;
}
.social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-post{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.info-post{
    font-size: 14px;
    display: flex;
    align-self: flex-start;
    
}
.info-post p{
    padding-left: 30px;
    text-align:justify;
}

.btn {
    position: relative;
    display: inline-block;
    height: 50px; width:50%;
    text-align: center;
    color: red;
    background: gray;
    line-height: 50px;
    text-decoration: none;
    padding-bottom:15%;
    background-clip:content-box;
    overflow:hidden;
}
.btn:after {
    content: "";
    position: absolute;
    top:50px; left: 0;
    background-color:inherit;
    padding-bottom:50%; width:57.7%;
    z-index:-1;
    
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    
    -webkit-transform: rotate(-30deg) skewX(30deg);;
    -ms-transform: rotate(-30deg) skewX(30deg);
    transform: rotate(-30deg) skewX(30deg);
}
.input-archive{
    display: none;
    background:#000;
    color: green;
    border:none;
}
.menu__drop_uk:hover .input-archive{
    display: block;
   
}












